<h1>Stupid Coaching</h1>

<blockquote>
  <p>
    <%= @question %> <!-- Comes from the ask.html.erb page through the controller -->
  </p>
  <cite>You</cite>
</blockquote>

<blockquote class="coach">
  <p><%= @answer %></p> <!-- Comes directly from the controller (answer method) -->
  <cite>Your coach</cite>
</blockquote>

<%= link_to "Ask a new question", ask_path %> <!-- Back link to the ask.html.erb page -->
